@import './base.css';

#app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-weight: normal;
}

:root {
  --bg: white;
  --text: black;
}

/* Dark mode */
.dark {
  --bg: #121212;
  --text: white;
}

/* Utilisation */
body,
#app,
.v-application,
.v-application .v-main {
  transition:
    background-color 0.3s,
    color 0.3s;
  background-color: var(--bg);
  color: var(--text);
}

.v-application .v-sheet,
.v-application .v-card,
.v-application .v-toolbar {
  background-color: var(--surface) !important;
  color: var(--text) !important;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  #app {
    flex-direction: column;
  }
}
